$colour: lightblue;
.col-9 {
  border: 8px solid white;
  background-color: $colour;
  padding: 20px;
}
hr {
  colour: white;
}
div div {
  background-color: black;
}
div img {
  margin-top: 40px;
}
div p {
  padding-top: 50px;
}
div {
  margin-bottom: 40px;
}
.divider {
  border-bottom: 6px dotted black;
}
#img {
  margin-top: 60px;
}
